extends layout

block content
  table
    tr
       td
            img(src=avatar_url, width='100px')
       td
            h1 Welcome to #{name} GitHub profile page 
            p Created on #{created_at}
  
  h2 Intro
  p #{name} works at #{company} located in #{location}.
  p #{bio}